.load-text{
    position: absolute;
    top: 400px;
    left: 650px;
    font-family: fantasy;
    font-weight: bold;
    color: #ffa726;
    text-shadow: black;
    text-shadow: 2px 2px black;
    

}
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 46%;
    top: 40%;
}