.slider{
    font-family:'Anton', sans-serif;
}

.container {
    opacity: 1;
}

.Nav {

    font-family: 'Josefin Sans', sans-serif;
}

.brand-logo {
    color: #ffa726;
}

#map {
    width: 100%;
    height: 100%;
}

.googleMap {
    width: 100%;
    height: 100%;
}


/* label color */

.input-field label {
    color: #407d99;
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: #000;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #407d99;
    box-shadow: 0 1px 0 0 #000;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

nav .brand-logo {
    position: relative;
}
