
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

h3, p {
    color: black;
    font-size: 30px;
    font-weight: bolder;
    background: rgba(197, 193, 193, 0.678);
}
